<ion-view hide-nav-bar="false"  cache-view="false" hide-back-button="true" title="About ScrapQ">
<!-- <ion-view view-title="ABOUT US" cache-view="false"> -->
    <ion-content has-bouncing="false" padding="true" class="has-header" >
    	<div class="padding text-center rd-bor-bot">Version 1.0.0</div>
    	<ion-scroll direction="y" class="about-content-scroll">
            <div ng-bind-html="about"></div>
        </ion-scroll>
        <!-- <div class="card padding" style="opacity:0.7;">
            <h4 class="siteColor">About ScrapQ</h4>
            <div ng-bind-html="about" style="text-align:justify;"></div>
        </div> -->
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-default" style="height:50px;">
        <div class="row row-center" style="padding-top:10px;">
            <div class="col col-center text-center">
                <img src="main/assets/svg/facebook-ac1.svg" width="45px" height="40px" />
            </div>
            <div class="col col-center text-center">
                <img src="main/assets/svg/google-ac1.svg" width="45px" height="40px" />
            </div>
            <div class="col col-center text-center">
                <img src="main/assets/svg/twitter-ac1.svg" width="45px" height="40px" />
            </div>
        </div>
    </ion-footer-bar>
</ion-view>

