<ion-view hide-nav-bar="false"  cache-view="false" hide-back-button="true" title="ScrapQ Call">
<!-- <ion-view view-title="ScrapQ Call" id="contactCallCenterPage" hide-nav-bar="false" align-title="left" hide-back-button="true" cache-view="false"> -->
    <!-- do you want padding? -->
    <ion-content has-bouncing="false">
        <h5>Call ScarpQ</h5>
        <hr/>
        <div class="row">
            <div class="col">
                
                <i class="icon ion-ios-circle-outline" style="position:relative;top:1px;font-size:70px;color:#04AEDA;"></i>
                <i class="icon ion-ios-telephone" style="transform:rotate(10deg);position:relative;left:-50px;font-size:50px;color:#04AEDA;top:-5px;"></i>
            </div>
            <div class="col siteColor callText" >CALL SCRAPQ</div>
        </div>
    </ion-content>
</ion-view>
