<ion-view hide-nav-bar="false"  cache-view="false" hide-back-button="true" title="Forgot Password">
<!-- <ion-view hide-nav-bar="false" align-title="left" title="Forgot Password" hide-back-button="true" cache-view="false"> -->
<form name="dataForm" novalidate>
    <ion-content padding="true" class="has-header has-tabs login_bg" has-bouncing="false">
        
             <ion-list>
                <p>
                    Enter registered Mobile Number or Email.
                    <br>We will send you new OTP to your Mobile Number or Email
                </p>
                <label class="item item-input removeBorders" ng-class="{ 'has-errors' : authorizationForm.mobile.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.mobile.$valid  && authorizationForm.$submitted}">
                    <i class="fa fa-envelope placeholder-icon fontSizeOneFifty"></i>/
                    <i class="fa fa-mobile placeholder-icon fontSizeDouble iMargin"></i>
                    <input type="text" name="username" ng-model="data.username" required placeholder="Email/Mobile No">
                </label>
                <div class="error-container" ng-show="dataForm.username.$error &&dataForm.$submitted" ng-messages="dataForm.username.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
                <div class="error-container" ng-if="errorMessage && !successMessage">
                    <p class="error">
                        {{errorMessage}}
                    </p>
                </div>
            </ion-list>
             <div class="marginTop" style="position:relative;">
            <a ui-sref="main.login" style="margin-top:10px;float:right;color:gray;text-decoration:none;">Sign In</a><br>
            <a ui-sref="main.registration" style="margin-top:10px;position:absolute;top:0px;float:left;color:gray;text-decoration:none;">New User</a>
            </div>
             <!-- <img src="main/assets/images/defaultsitebg.jpg" style="width:100%;margin-top:30%;" /> -->
    </ion-content>
    <div class="tabs dashboardTabsStyle">
            <button ng-click="getPassword(dataForm)" class="button button-stable button-clear tab-item item-text-wrap" type="submit" style="font-size:16px;color:white;opacity:1;">
                SUBMIT
            </button>
        </div>
    </form>
</ion-view>
