<ion-view hide-nav-bar="false" cache-view="false" hide-back-button="true" title="Appointments">
    <!-- <ion-view view-title="Appointments" hide-nav-bar="false" align-title="left" hide-back-button="true" cache-view="false"> -->
    <ion-content class="has-header" has-bouncing="false" scroll="true" style="background-color:#EEE2C2;">
        <div class="row paddingZero">
            <div class="col paddingZero">
                <div scroll="true" data-tap-disabled="true" ui-calendar="uiConfig.calendar" class="calendar" calendar="myCalendar" ng-model="eventSources"></div>
            </div>
        </div>
    </ion-content>
</ion-view>
